.main p .strutsinput{
	float: left;
	margin-left:4px;
}
.main p input[type="password"] {
	width: 240px;
	height: 28px;
    line-height:28px;
	padding: 0 10px;
	border: 1px solid #c5d6e0;
	outline: none;
	background: url(../images/inputbg.png) repeat-x;
}
.main p.long-input input[type="password"] {
	width: 472px;
}

.main input[type="password"] {
	width: 240px;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	border: 1px solid #c5d6e0;
	outline: none;
	background: url(../images/inputbg.png) repeat-x;
}


.noNull{
	background: #fff;
}

.warn{
	color:red;
}
.email{
	
}
.tell{
	
}
.studentNo{
	
}
.idCard{
	
}

